<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ucem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UCEM">
        <activity
            android:name=".Chapters"
            android:label="@string/title_activity_chapters"
            android:theme="@style/Theme.UCEM.NoActionBar"></activity>
        <activity android:name=".activity.MenuCapitulos" />
        <activity android:name=".activity.MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>